/*-- Global Styles --*/
:root {
  --prime: #222;
  --text: #333;
  --rev-text: #EEE;
  --accent: #2E9CCA;
  --bg: #EEE;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/*-- Document Styles --*/
footer {
  background-color: #333;
  color: #ddd;
  padding: 1em;
  text-align: center;
  grid-column: 1/-1;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #DDD;
  padding: 1em;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  nav {flex-direction: row;}
}
nav a {
  color: #DDD;
  text-decoration: none;
}
.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px) {
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .topnav.responsive a.trigram::after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

.thumb {
  background-position: center center;
  background-size: cover;
  padding-top: 50%;
  margin: 10px;
}
.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  margin: 0em .5em 0em .5em;
}
@media screen and (min-width: 550px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .grid-container {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-container {grid-template-columns: repeat(4, 1fr);}
}
.card {
  border: 1px solid #333;
  text-align: center;
}
.card-content {
  padding: 1em;
}

.card-content h3 {
  margin-bottom: .5em;
  font-size: 125%;
}

.card  p{
  text-align: left;
}
.one .thumb {
  background-image: url('../pimg/card1.jpg');
}

.two .thumb {
  background-image: url('../pimg/card2.jpg');
}

.three .thumb {
  background-image: url('../pimg/card3.jpg');
}

.four .thumb {
  background-image: url('../pimg/card4.jpg');
}

.five .thumb {
  background-image: url('../pimg/card5.jpg');
}

.six .thumb {
  background-image: url('../pimg/card6.jpg');
}

.seven .thumb {
  background-image: url('../pimg/card7.jpg');
}

.eight .thumb {
  background-image: url('../pimg/card8.jpg');
}

.nine .thumb {
  background-image: url('../pimg/card9.jpg');
}

.ten .thumb {
  background-image: url('../pimg/card10.jpg');
}
.eleven .thumb {
  background-image: url('../pimg/card11.jpg');
}
.twelve .thumb {
  background-image: url('../pimg/card12.jpg');
}



.slideshow{
  width: 100%;
  padding: .2em;
}


.slideshow-wrap{
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.slide{
  display: none;
  background: rgba(0,0,0,.7);
  
}

.caption{
  background: rgba(0,0,0,.7);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.caption-text{
  background: rgba(0,0,0,.7);
  color: #EEE;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.prev, .next{
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  padding: 2em;
}

.prev{
  left:0;
}
.next{
  right: 0;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8); /*-- gives a background for contrast on hover --*/
}

.indicator{
  cursor:pointer;
  height: auto;
  width: auto;
  display: inline-block;
  background-color: #AAA;
  transition: all 200ms ease-in-out;
  opacity: .3;
}

.indicator img{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.active, .indicator:hover{
  opacity: 1;
}

.slid-prev{
  text-align: center;
  margin: 10px 0px 20px 0;
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.modal{
  display: none;/*-- hidden by default --*/
  position: fixed; /*-- doesn't move on the screen --*/
  z-index: 1100; /*-- sets higher than anything else so modal is in the very front --*/
  left: 0; /*-- positions at zero pixels from the left --*/
  top: 0; /*-- positions at zero pixels from the top --*/
  width: 100%; /*-- fills the space --*/
  height: 100%; /*-- fills the space --*/
  overflow: auto; /*-- handles overflow as normal. --*/
  background-color: rgba(10, 10, 10, .4); /*--slightly transparent--*/
}

.modal-content {
  background-color: white;
  color: black;
  margin: 1rem auto;
  padding: 1em;
  width: 92%;
  border-radius: 4px;
  animation: fadein .3s ease-in-out; /*-- sets animation properties: name, duration, easing --*/
}

.modal-body{
  display: grid;
  grid-template-areas: "img text";
}

.modal-img{
  grid-area: img;
}

.modal-text{
 grid-area: text;
 justify-items: center;
 justify-self: center;
 align-self: center;
}